<h2>Dashboard</h2>
<p>This is the Dashboard</p>

<p data-user="{{user.id}}" id="user-name">{{user.userName}}</p>

<h2>Create a New Post</h2>
<form id = "new-post-form">
  <input type="text" id="post-title">
  <textarea name="new-post" id="new-post" cols="30" rows="10"></textarea>
  <button type="submit" id= "post-submit">Submit New Post</button>
</form>

{{#each user.posts as |post|}}
{{!-- <a href="/posts/{{comment.post_id}}">
<h2>{{comment.contents}}</h2>
</a> --}}

<div class="card">
  <div class="card-header">
    {{post.title}}
  </div>
  <div class="card-title">
    Published By {{user.userName}}
    Published at {{post.createdAt}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post.contents}}</p>
  </div>
</div>
{{/each}}

{{#each user.comments as |comment|}}
{{!-- <a href="/posts/{{post.id}}">
<h2>{{post.title}}</h2>
<p>{{post.contents}}</p>
</a> --}}
<div class="card">
  <div class="card-title">
    Published By {{user.userName}}
    Published at {{comment.createdAt}}
  </div>
  <div class="card-body">
    <p class="card-text">{{comment.contents}}</p>
  </div>
</div>
{{/each}}